@model List<NominaModelo>

@{
    ViewData["Title"] = "SaveNomina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        Crear un Empleado
    </div>
    <div class="card-body">
        <form asp-action="Save" asp-controller="Nomina" method="post">

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Posición de Trabajo</label>

                @foreach (var item in Model)
                {
                    <select class="form-select" aria-label="describele">
                        <option value="@item.ID_Empleado">@item.Name</option>
                    </select>
                }

            </div>

            <div class="mb-3">

                <label for="exampleInputPassword1" class="form-label">Posición de Trabajo</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected asp-for="ID_Emploeye"></option>
                    <option value="1">Desarrollador Jr</option>
                    <option value="2">Analista de Datos</option>
                    <option value="3">QA Manager</option>
                </select>
            </div>                                          
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="ListNomina" asp-controller="Nomina" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>

<script>
    let startDate = document.getElementById('startDate')
    let endDate = document.getElementById('endDate')

    startDate.addEventListener('change', (e) => {
        let startDateVal = e.target.value
        document.getElementById('startDateSelected').innerText = startDateVal
    })

    endDate.addEventListener('change', (e) => {
        let endDateVal = e.target.value
        document.getElementById('endDateSelected').innerText = endDateVal
    })
</script>
